#side_bar {
	position:fixed;
	top:0px;
	right:0px;
	height:100%;
	width:250px;
	background: #ffffff;
	z-index:100;
	-webkit-box-shadow: -2px 0px 10px rgba(0,0,0,0.25);
	-moz-box-shadow: -2px 0px 10px rgba(0,0,0,0.25);
	-o-box-shadow: -2px 0px 10px rgba(0,0,0,0.25);
	box-shadow: -2px 0px 10px rgba(0,0,0,0.25);
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	border-left: 1px solid;
	border-color: rgba(0,0,0,0.25);
}

#selector_bar {
	position: fixed;
	top:0px;
	left:0px;
	right:250px;
	height:50px;
	z-index:5;
	/*border-bottom: 2px solid #aaaaaa;*/
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
	-o-box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
}

#content_wrapper {
	position: absolute;
	top:50px;
	right:250px;
	left:0px;
	height: 100%;
	z-index:0;
}

.content_wrapper_open {
	overflow: visible;
}

.content_wrapper_closed {
	overflow: hidden;
}

#list_wrapper {
	position: absolute;
	top:0px;
	left: calc(50% - 400px);
	width: 800px;
}

#logo_image {
	position:relative;
	top:0px;
	left:0px;
	width:250px;
	height:250px;
	background: #ffffff;
}

#the_title {
	position:relative;
	top:-30px;
	cursor:default;
}

.generic_obj {
	/*float: left;*/
	position:absolute;
	top: 0px;
	left: 0px;
	margin: 24px;
	padding: 25px;
	height: 500px;
	width: 300px;
	background-color: #ffffff;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	-o-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	border: 1px solid;
	border-color: rgba(0,0,0,0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.generic_obj:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	-o-box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	border-color: rgba(0,0,0,0.25);
}

.menu_item {
	margin: 0px;
	padding:20px;
	color:#303030;
	font-family: 'Josefin Slab', sans-serif;
	font-size: 18pt;
	text-align: left;
	cursor:pointer;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}

.menu_item:hover {
	background-color: rgba(0,0,0,0.1);
	border-right: 5px solid;
	border-color: rgb(204, 33, 22);
}

.selector_bar_item {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 20px;
	color:#303030;
	font-family: 'Josefin Slab', sans-serif;
	font-size: 18pt;
	text-align: center;
	height:29px;
	cursor:default;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}

.selector_bar_item:hover {
	border-bottom: 2px solid;
	border-color: rgb(204, 33, 22);
}

.a_thumbnail {
	width:300px;
	height:300px;
	background: url(index_resouces/logo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

p {
	font-family: 'Adamina', serif;
	color: #303030;
	font-weight: 400;
	margin: 0px;
	margin-top:10px;
	text-align: justify;
}

h2 {
	font-family: 'Josefin Slab', sans-serif;
	color: #303030;
	font-weight: 700;
	font-size:36pt;
	margin:0px;
	margin-top:10px;
	text-align:right;
}

h1
{
	font-family: 'Josefin Slab', sans-serif;
	color: #303030;
	font-weight: 700;
}

.textTitle
{
	font-size:48pt;
	margin: 100px;
	margin-bottom: 0px;
	font-variant: small-caps;
	line-height: 150%;
}

.textSubTitle
{
	font-size:36pt;
	margin: 50px;
}

.textText
{
	margin-left: 150px;
	margin-right: 150px;
	font-size: 13pt;
	line-height: 200%;
	word-spacing: 125%;
	margin-bottom: 50px;
}

.Text_Divider
{
	border: 0;
    height: 0;
    border-top: 3px solid #505050;
    border-bottom: 3px solid #505050;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 100px;
}

#TheTextText
{
	margin-bottom: 200px;
}

#text-content-wrapper
{
	position: absolute;
	right:250px;
	left:0px;
	z-index:10;
	overflow: visible;
	background-color: white;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.text-open
{
	opacity: 1;
	top:0px;
	pointer-events: auto;
}

.text-closed
{
	opacity: 0;
	top:75%;
	pointer-events: none;
}

#ContentCloseButton
{
	z-index: 10;
	position: fixed;
	top: 25px;
	left: 25px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}