/*body {
	 padding: 50px 0;
	 font-size: 19px;
	 font-family: HelveticaNeueETW01-55Rg;
}*/

article {
	margin: 0 auto;
	width: 800px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article h1 {
	font-family: "Josefin Slab";
	font-size: 5.105em;
	line-height: 0.928em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 0.305em;
}

article .Text_Divider {
	border: 0;
    height: 0;
    border-top: 3px solid #505050;
    border-bottom: 3px solid #505050;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 3em;
}

article p.intro {
	font-family: "Josefin Slab";
	font-size: 1.368em;
	border-top: 1px;
	border-bottom: 1px;
	padding: 1.154em;
	text-align: center;
	border-style: solid;
	line-height: 1.5em;
	margin: 1.038em 0px;
	font-weight: 700;
	font-style: normal;
}

article p {
	font-size: 1em;
	line-height: 2.221em;
	color: rgba(51, 51, 51, 0.80);
	margin: 0px 100px 1.421em 100px;
	font-family: Adamina;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

article h2 {
	font-size: 2.426em;
	font-family: "Josefin Slab";
	line-height: 0.931em;
	margin: 1.821em 100px 0.5em 100px;
	font-weight: 700;
	font-style: normal;
	text-align: left;
}

article p.pullquote {
	padding-left: 10px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 3px;
	color: rgba(51, 51, 51, 1.00);
	font-size: 1em;
	line-height: 1.421em;
}

article p.author {
	text-align: center;
	font-size: 13px;
	letter-spacing: 2px;
	margin-top: 27px;
}

article img.square {
	max-width: 100%;
	width: 300px;
	float: right;
}

@media only screen and (max-width: 1150px) {
	article {
	margin: 0 auto;
	width: 100%;
	padding: 0 2em;
}

}@media only screen and (max-width: 600px) {
	body {
	font-size: 90%;
}

article h1 {
	font-size: 3.75em;
	line-height: 0.929em;
}

article .Text_Divider {
	margin-left: 20px;
	margin-right: 20px;
}

article p {
	font-size: 1.2em;
	margin: 0px 0px 1.421em 0px;
	line-height: 1.421em;
}

article h2 {
	font-size: 3em;
	margin: 1.821em 0px 0.5em 0px;
}

article p.pullquote {
	font-size: 16px;
}

}