#MainContainer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-wrap: no-wrap;
}

#LeftQueue {
	height: 100vw;
	flex-grow: 2;
	order: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
}

#Current {
	height: 100vw;
	flex-grow: 5;
	order: 2;
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	justify-content: center;
}

#RightQueue {
	height: 100vw;
	flex-grow: 2;
	order: 3;
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
}

#TimerObj {
	font-family: "Josefin Slab";
	font-size: 36px;
	color: #888;
	text-align: center;
	align-self: center;
}

#MainTaskObj {
	font-family: "Josefin Slab";
	font-size: 48px;
	color: #333;
	text-align: center;
	align-self: center;
}

.QueueObject {
	font-family: "Josefin Slab";
	font-size: 16px;
	color: #888;
	padding: 20px;
	margin: 15px;
	border-radius: 5px;
	border: solid 2px #AAA;
}